nav {
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'Raleway';
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >img {
        width: 64px;
        height: 64px;
    }

    >div {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;

        >a {
            margin-right: 16px;
            &:hover {
                color: red;
            }
        }
    }
}

.phone-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 180px;
    height: 40px;
    outline: 1px solid;
    outline-color: white;
    border-radius: 8px / 8px;
    margin-left: 50px;

    >img {
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }
}

a {
    text-decoration: none;
    color: white;
}