<div class="how-to-order">
    <h2 class="">HOW TO ORDER</h2>
    <div class="pic-your-order">
        <div class="order-ramen">
            <img class="image-one" src="/img/2_section_how_to_order/PNG/noodle.png" alt="">
            <h3>pick your noodle</h3>
        </div>
        <div class="order-ramen">
            <img class="image-one" src="/img/2_section_how_to_order/PNG/broth.png" alt="">
            <h3>pick your broth</h3>
        </div>
        <div class="order-ramen">
            <img class="image-one" src="/img/2_section_how_to_order/PNG/noodle.png" alt="">
            <h3>add your topics</h3>
        </div>

    </div>
</div>