<div class="how-to-order">
    <h2 class="">HOW TO ORDER</h2>
    <div class="pic-your-order">

        <div class="order-ramen">
            <div class="image-one"></div>
            <h3>pick your noodle</h3>
            <!-- <img src="assets/img/2_section_how_to_order/PNG/noodle.png" alt=""> -->
        </div>
        <div class="order-ramen">
            <div class="image-one"></div>
            <!-- <img src="assets/img/2_section_how_to_order/PNG/broth.png" alt=""> -->
            <h3>pick your broth</h3>

        </div>
        <div class="order-ramen">
            <div class="image-one"></div>
            <!-- <img src="assets/img/2_section_how_to_order/PNG/noodle.png" alt=""> -->
            <h3>add your topics</h3>


        </div>

    </div>
</div>